body {
    background-color: lightgrey;
}

.jumbotron {
    background-color: indianred;
    padding: 1rem;
}

.container-cards {
    margin: 1rem 1rem 1rem auto;
}

.card-header {
    background-color: indianred;
}

#grass {
    color: black;
    background-color: darkgreen;
}

#fire {
    color: black;
    background-color: orangered;
}

#water {
    color: black;
    background-color: dodgerblue;
}

#elec {
    color: black;
    background-color: yellow;
}

#psy {
    color: black;
    background-color: mediumpurple;
}

#fight {
    color: black;
    background-color: saddlebrown;
}

#dark {
    color: black;
    background-color: darkslategray;
}

#steel {
    color: black;
    background-color: silver;
}

#fairy {
    color: black;
    background-color: pink;
}

#drag {
    color: black;
    background-color: goldenrod;
}

#norm {
    color: black;
    background-color: white;
}

#sub {
    color: black;
    background-color: whitesmoke;
}

#type-split {
    border-top: 2px solid;
    color: indianred;
}

.type {
    padding: .5rem;
}

.card-img-top {
    padding-top: 20px;
    width: 100%;
    height: 50vw;
    object-fit: contain;
}

@media screen and (min-width: 768px) {
    .card-img-top {
        height: 20vw;
    }
}